{% extends 'base.html.twig' %}

{% block title %}Espace Parent - Icom Circus
{% endblock %}

{% block body %}
	<div class="p-3"><a href="{{ path('app_member_album') }}"> <button class="btn btn-primary">Accèder à l'album photo</button></a></div>
	<h1>Bienvenue dans votre Espace parent</h1>

	<div class="container">
		<div class="row">
			{% for post in posts %}

				<div class="row p-5">
					<a href="{{ path('app_blog', {slug:post.slug} ) }}" class="bloglink">
						<h1>{{post.titre}}</h1>
					</a>

					{% if post.illustration == NULL %}

						{% else %}
							<div class="col-md-5"><img src="/uploads/{{post.illustration}}" alt="{{post.titre}}" class="img-fluid"></div>
					{% endif %}


					<div class="col">
						{{post.contenu|u.truncate(1500, '...', false) |raw}}
						{% if post.contenu|length > 1500 %}
						<a href="{{ path('app_blog', {slug:post.slug} ) }}" class="bloglink">
						en savoir plus
					</a>
					{% endif %}
					</div>

				</div>
				<hr>
			{% endfor %}

		</div>
		<div class="pagination p-5">
			{{ knp_pagination_render(posts) }}
		</div>
	</div>

{% endblock %}
